/* Box Model Fix */
html {
  box-sizing: border-box;
  background: #BEC4D4;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0pt;
}

button:active {
  background: #C1BAA7;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 24pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  text-align: center;
}

h2 {
  font-size: 20pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  text-align: center;
}

nav button {
  text-align: center;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  border: solid;
  border-radius: 5pt;
  background-color: #C5D0BF;
  width: 100%;
}

#index {
  width: 98%;
}

.weapon {
  display: block;
  border: solid black 4pt;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

#cat {
  display: block;
  margin: auto;
  border: solid;
  border-radius: 10pt;
}

#winning_cat {
  display: block;
  margin: auto;
  width: 100%;
  height: inherit;
  border: solid;
  border-radius: 50%;
}
