/* Box Model Fix */
html {
  box-sizing: border-box;
  background: #DDDDDD
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 24pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  text-align: center;
}
